apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: devopsdozo
  labels:
    app: frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: 879381241087.dkr.ecr.ap-south-1.amazonaws.com/devopsdozo-frontend:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 80
        env:
        # - name: NAMESPACE
        #   value: devopsdozo

        - name: BACKEND_URL
          value: "http://backend.devopsdozo.svc.cluster.local:8000"

      # this w3ay frontend build a backnd link
      # backend.namspace.svc.cluster.local
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "300m"
        readinessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 10
          periodSeconds: 5
        livenessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 15
          periodSeconds: 20
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: devopsdozo
spec:
  selector:
    app: frontend
  ports:
  - port: 80
    targetPort: 80
  type: ClusterIP
