name: Infra Deployment for lambda functions and Layers

on:
  workflow_dispatch:
    inputs:
      terraform_action:
        description: 'apply/destroy'
        required: true

env:
  terraform_action: ${{ github.event.inputs.terraform_action }}
  terraform_version: 1.5.7
  working_directory: class22-lambda-layers-terraform/real-world-code/production-way/infra
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  AWS_REGION: us-east-1

jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: ${{ env.terraform_version }}
      
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      
      - name: Terraform Init
        working-directory: ${{ env.working_directory }}
        run: terraform init

      - name: Terraform Apply
        working-directory: ${{ env.working_directory }}
        run: terraform ${{ env.terraform_action }} -auto-approve
