# service for nginx pod
apiVersion: v1
kind: Service
metadata:
  name: nginx-service
spec:
  selector:
    app: nginx
  ports:
    - protocol: TCP
      port: 81
      targetPort: 80
  type: ClusterIP 
